
{% extends 'layout.html.twig' %}



{% block content %}

    <div class="container">

        <div class="row">

            <div class="panel panel-primary">

                <div class="panel-heading">

                    <h3 class="panel-title">

                        Ver Contas a Pagar

                    </h3>

                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        <a href="{{ route('bill-receives.edit', {'id' : bill.id}) }}"
                        class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a href="{{ route('bill-receives.delete', {'id' : bill.id}) }}"
                        class="btn btn-danger" >
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td scope="row">#</td>
                                <td>{{ bill.id }}</td>

                            </tr>
                            <tr>
                                <td scope="row">Data Lanc.</td>
                                <td>{{ bill.date_launch | date ('d/m/Y') }}</td>

                            </tr>
                            <tr>
                                <td scope="row">Nome</td>
                                <td>{{ bill.name }}</td>

                            </tr>
                            <tr>
                                <td scope="row">Valor</td>
                                <td>{{ bill.value | number_format(2, ',','.')}}</td>

                            </tr>

                        </tbody>
                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}