
{% extends 'layout.html.twig'  %}



{% block content %}

    <div class="container">

        <div class="row">

            <div class="panel panel-primary">

                <div class="panel-heading">

                    <h3 class="panel-title">

                        Galeria

                    </h3>

                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        <a href="{{ route('galeria.edit', {'id' : galeria.id}) }}"
                        class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a href="{{ route('galeria.delete', {'id' : galeria.id}) }}"
                        class="btn btn-danger" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td scope="row">#</td>
                                <td>{{ galeria.id }}</td>

                            </tr>
                            <tr>
                                <td scope="row">Imagem:</td>
                                <td>{{ galeria.name }}</td>

                            </tr>
                            <tr>
                                <td scope="row">Funcionario:</td>
                                <td>{{ galeria.categoryFuncionario.first_name ~ galeria.categoryFuncionario.last_name }}</td>

                            </tr>

                        </tbody>
                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}